<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.mapper.ArticleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="ArticleEntity" id="articleMap">
        <result property="id" column="id"/>
        <result property="md5Key" column="md5_key"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_ArticleColumns_List" > 
  	  id ,        
   md5_key  ,        
  title ,        
  content         
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_ArticleColumns_List" >
       #{id},   #{md5Key},   #{title},   #{content}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_ArticleColumns_List" >
    <set>
    <if test="t.md5Key != null">md5_key = #{t.md5Key}, </if>
    <if test="t.title != null">title = #{t.title}, </if>
    <if test="t.content != null">content = #{t.content}</if>
	</set>
	where id = #{t.id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_ArticlePramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.md5Key != null">and md5_key = #{t.md5Key}</if>
    <if test="t.title != null">and title = #{t.title}</if>
    <if test="t.content != null">and content = #{t.content}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_ArticlePramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.md5Key != null">and md5_key = #{t.md5Key}</if>
    <if test="t.title != null">and title = #{t.title}</if>
    <if test="t.content != null">and content = #{t.content}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into article values (<include refid="ins_ArticleColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update article <include refid="upd_ArticleColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from article <include refid="del_ArticlePramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from article where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="articleMap">
		select  <include refid="sel_ArticleColumns_List" />  from article where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="articleMap">
		select  <include refid="sel_ArticleColumns_List" />  from article
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="articleMap">
		select  <include refid="sel_ArticleColumns_List" />  from article <include refid="sel_ArticlePramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="articleMap">
		select  <include refid="sel_ArticleColumns_List" />  from article <include refid="sel_ArticlePramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="articleMap">
        select  <include refid="sel_ArticleColumns_List" />  from article <include refid="sel_ArticlePramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from article <include refid="sel_ArticlePramas_List" />
	</select>
	


</mapper>